{% extends 'home/base.html' %}

{% block title %}Drug Detail{% endblock %}

{% block content %}
<div class="card mb-3" style="max-width: 400px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><h3>{{ drug.name }}</h3></h5>
          <p class="card-text"><strong>Composition: </strong>{{ drug.composition }}</p>
          <p class="card-text"><strong>Company: </strong>{{ drug.company }}</p>
          <p class="card-text"><strong>Price: </strong>{{ drug.price }}</p>
          <p class="card-text"><strong>Drug Type: </strong>{{ drug.drugtype }}</p>
          <p class="card-text"><strong>Package Qty: </strong>{{ drug.package_qty }}</p>
          <p class="card-text"><strong>Is restricted: </strong>{{ drug.restricted }}</p>
          <p class="card-text"><strong>Stock: </strong>{{ drug.stock }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}