{% extends 'home/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Update Drug</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card mx-auto" style="width: 30rem;">
            <div class="card-body">
              <h5 class="card-title">Updating {{ drug.name }}</h5>
                    {{ form|crispy }}
              <input class="btn btn-dark" type="submit" value="Update Drug">
            </div>
          </div>
          
    </form>
{% endblock  %}